;; Den eneste formen for "migrering" som finnes her er at strømmer som ikke
;; allerede finnes opprettes. Utover dette blir de ikke migrert på noe vis. Skal
;; de endres må det manuelt arbeid til. Vurder å lage en ny strøm heller enn å
;; endre på en gammel.
[{:nats.kv/bucket-name "madraas"
  :nats.kv/description "Fremgang i synkroniseringen"
  :nats.kv/replicas 3}

 {:nats.stream/name "adresser"
  :nats.stream/subjects #{"adresser.>"}
  :nats.stream/replicas 3
  :nats.stream/retention-policy :nats.retention-policy/limits
  :nats.stream/allow-direct? true
  :nats.stream/allow-rollup? false
  :nats.stream/deny-delete? true
  :nats.stream/deny-purge? false}

 {:nats.stream/name "fylker"
  :nats.stream/subjects #{"fylker.>"}
  :nats.stream/replicas 3
  :nats.stream/retention-policy :nats.retention-policy/limits
  :nats.stream/allow-direct? true
  :nats.stream/allow-rollup? false
  :nats.stream/deny-delete? true
  :nats.stream/deny-purge? false}

 {:nats.stream/name "kommuner"
  :nats.stream/subjects #{"kommuner.>"}
  :nats.stream/replicas 3
  :nats.stream/retention-policy :nats.retention-policy/limits
  :nats.stream/allow-direct? true
  :nats.stream/allow-rollup? false
  :nats.stream/deny-delete? true
  :nats.stream/deny-purge? false}

 {:nats.stream/name "postnummere"
  :nats.stream/subjects #{"postnummere.>"}
  :nats.stream/replicas 3
  :nats.stream/retention-policy :nats.retention-policy/limits
  :nats.stream/allow-direct? true
  :nats.stream/allow-rollup? false
  :nats.stream/deny-delete? true
  :nats.stream/deny-purge? false}

 {:nats.stream/name "veier"
  :nats.stream/subjects #{"veier.>"}
  :nats.stream/replicas 3
  :nats.stream/retention-policy :nats.retention-policy/limits
  :nats.stream/allow-direct? true
  :nats.stream/allow-rollup? false
  :nats.stream/deny-delete? true
  :nats.stream/deny-purge? false}

 {:nats.stream/name "endringer"
  :nats.stream/subjects #{"endringer.adresser.>"
                          "endringer.fylker.>"
                          "endringer.kommuner.>"
                          "endringer.postnummere.>"
                          "endringer.veier.>"}
  :nats.stream/description "Adresse-endringer i Matrikkelen"
  :nats.stream/replicas 3
  :nats.stream/retention-policy :nats.retention-policy/limits
  :nats.stream/allow-direct? true
  :nats.stream/allow-rollup? false
  :nats.stream/deny-delete? true
  :nats.stream/deny-purge? false
  :nats.stream/max-age #time/duration "PT8766H" ;; 1 år (365.25 dager - tar ikke høyde for skuddsekund)
  }

 ]
